.Button {
  border-radius: 0.3rem;
  display: inline-block;
  font-family: $centuryBold-font;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  transition: background-color 0.3s ease-out;
  &--icon {
    align-items: center;
    display: flex;
    justify-content: center;
    i[class^=icon-] {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
  &--full {
    width: 100%;
  }
  &--outline {
    background-color: transparent;
    border: {
      style: solid;
      width: 2px;
    }
    &--light {
      border-color: white;
      color: white;
      &:focus,
      &:hover {
        border-color: $firstColorAlt;
        color: $firstColorAlt;
      }
    }
    &--accent {
      border-color: $accentColor;
      &:focus,
      &:hover {
        border-color: $firstColorAlt;
      }
    }
  }
  &--first {
    background-color: $firstColor;
    color: white;
    &:focus,
    &:hover {
      background-color: $firstColorAlt;
      color: white;
    }
  }
  &--second {
    background-color: $secondColor;
    color: white;
    &:focus,
    &:hover {
      background-color: $secondColorAlt;
      color: white;
    }
  }
  &--secondAlt {
    background-color: $secondColorAlt;
    color: white;
    &:focus,
    &:hover {
      background-color: $secondColor;
    }
  }
  &--accent {
    background-color: $accentColor;
    color: white;
    &:focus,
    &:hover {
      background-color: $accentColorAlt;
    }
  }
}
