@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

@include font-face("CenturyGothic-Bold", "./../fonts/CenturyGothic-Bold", ("woff", "ttf", "eot", "svg")) {
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
}

@include font-face("CenturyGothic", "./../fonts/CenturyGothic", ("woff2", "woff", "ttf", "eot", "svg")) {
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
}

@include font-face("Frankfurter", "./../fonts/FrankfurterMediumStd", ("woff2", "woff", "ttf", "eot", "svg")) {
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/icomoon.eot?9ol1dh');
  src:
    url('./../fonts/icomoon.eot?9ol1dh#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?9ol1dh') format('truetype'),
    url('./../fonts/icomoon.woff?9ol1dh') format('woff'),
    url('./../fonts/icomoon.svg?9ol1dh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-clock::before {
  content: "\e915";
}
.icon-dollar::before {
  content: "\e914";
}
.icon-refresh::before {
  content: "\e90c";
}
.icon-sync::before {
  content: "\e90c";
}
.icon-reload::before {
  content: "\e90c";
}
.icon-loading::before {
  content: "\e90c";
}
.icon-automobile::before {
  content: "\e911";
}
.icon-car::before {
  content: "\e911";
}
.icon-smile-o::before {
  content: "\e912";
}
.icon-user-o::before {
  content: "\e913";
}
.icon-youtube-play::before {
  content: "\e910";
}
.icon-instagram::before {
  content: "\e90d";
}
.icon-user-circle-o::before {
  content: "\e90e";
}
.icon-user-circle::before {
  content: "\e90f";
}
.icon-social-twitter::before {
  content: "\e900";
}
.icon-social-facebook::before {
  content: "\e901";
}
.icon-keyboard_arrow_up::before {
  content: "\e902";
}
.icon-keyboard_arrow_right::before {
  content: "\e903";
}
.icon-keyboard_arrow_left::before {
  content: "\e904";
}
.icon-keyboard_arrow_down::before {
  content: "\e905";
}
.icon-arrow_upward::before {
  content: "\e906";
}
.icon-arrow_forward::before {
  content: "\e907";
}
.icon-arrow_drop_up::before {
  content: "\e908";
}
.icon-arrow_drop_down::before {
  content: "\e909";
}
.icon-arrow_downward::before {
  content: "\e90a";
}
.icon-arrow_back::before {
  content: "\e90b";
}
