@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?uwodiy');
  src:  url('./../fonts/icomoon.eot?uwodiy#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?uwodiy') format('truetype'),
    url('./../fonts/icomoon.woff?uwodiy') format('woff'),
    url('./../fonts/icomoon.svg?uwodiy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eje:before {
  content: "\e927";
}
.icon-marca:before {
  content: "\e92f";
}
.icon-rodante .path1:before {
  content: "\e930";
  font-style: normal;
  color: rgb(0, 0, 0);
}
.icon-rodante .path2:before {
  content: "\e931";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path3:before {
  content: "\e932";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path4:before {
  content: "\e933";
  font-style: normal;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rodante .path5:before {
  content: "\e934";
  font-style: normal;
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rodante .path6:before {
  content: "\e935";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path7:before {
  content: "\e936";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path8:before {
  content: "\e937";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path9:before {
  content: "\e938";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-rodante .path10:before {
  content: "\e939";
  font-style: normal;
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-anio:before {
  content: "\e921";
}
.icon-asientos:before {
  content: "\e922";
}
.icon-carroceria:before {
  content: "\e923";
}
.icon-cilindros:before {
  content: "\e924";
}
.icon-color:before {
  content: "\e925";
}
.icon-combustible:before {
  content: "\e926";
}
.icon-kilometraje:before {
  content: "\e928";
}
.icon-motor:before {
  content: "\e929";
}
.icon-pasajeros:before {
  content: "\e92a";
}
.icon-potencia:before {
  content: "\e92b";
}
.icon-ruedas:before {
  content: "\e92c";
}
.icon-serie:before {
  content: "\e92d";
}
.icon-version:before {
  content: "\e92e";
}
.icon-modelo:before {
  content: "\e920";
}
.icon-location:before {
  content: "\e91f";
}
.icon-spin-alt:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-envelope-o:before {
  content: "\e91e";
}
.icon-whatsapp:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e91a";
}
.icon-circle:before {
  content: "\e919";
}
.icon-close:before {
  content: "\e916";
}
.icon-bars:before {
  content: "\e914";
}
.icon-youtube-play:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-facebook-f:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e915";
}
.icon-subdirectory_arrow_right:before {
  content: "\e904";
}
.icon-subdirectory_arrow_left:before {
  content: "\e905";
}
.icon-keyboard_arrow_up:before {
  content: "\e906";
}
.icon-keyboard_arrow_right:before {
  content: "\e907";
}
.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-keyboard_arrow_down:before {
  content: "\e909";
}
.icon-arrow_upward:before {
  content: "\e90a";
}
.icon-arrow_forward:before {
  content: "\e90b";
}
.icon-arrow_drop_up:before {
  content: "\e90c";
}
.icon-arrow_drop_down:before {
  content: "\e90d";
}
.icon-arrow_downward:before {
  content: "\e90e";
}
.icon-arrow_back:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-person_outline:before {
  content: "\e911";
}
