.Prefooter {
  background-color: $darkColor;
  padding: 2rem 0;
}
.Prefooter__logo {
  margin-bottom: 2rem;
}
.Prefooter__info {
  list-style: none;
  padding-left: 0;
  li {
    color: $thirdColor;
    font-family: $muli-font;
    margin-bottom: 1rem;
  }
}
.Prefooter__title {
  color: white;
  font-family: $muli-font;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.Prefooter__social {
  display: flex;
  list-style: none;
  padding-left: 0;
  li {
    align-items: center;
    background-color: $thirdColorAlt;
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: 1.5rem;
    transition: background-color 0.4s ease-out;
    width: 50px;
    a {
      color: white;
      font-size: 1.5rem;
      display: block;
      &:focus {
        color: $secondColorAlt;
      }
    }
    &:hover {
      background-color: white;
      a {
        color: $secondColorAlt;
      }
    }
  }
}
.Prefooter__text {
  color: $thirdColor;
}
.Footer {
  background-color: $darkColorAlt;
  padding: 1rem 0;
}
.Footer__copy {
  color: $thirdColor;
  font-size: 0.75rem;
  margin-bottom: 0;
}
