.Form {
  .custom-select, .form-control {
    background-color: #f9f9f9;
    border-color: #e3e3e3;
    color: $textColor;
    font-size: .875rem;
    height: calc(2.75rem + 2px);
  }
  .input-group-append {
    .btn {
      background-color: #f9f9f9;
      border-color: #e3e3e3;
      border-left: none;
      [class^="icon-"] {
        color: $textColor;
        font-size: 1.5rem;
      }
    }
  }
  &--inline {
    justify-content: center;
    @media screen and (max-width: 991px) {
      flex-wrap: wrap;
      .custom-select, .form-control {
        margin-bottom: 1.5rem;
        width: 90%;
      }
    }
  }
  &--group {
    .form-control {
      border-radius: 0;
      border: none;
      font-size: .875rem;
      height: auto;
      padding: .75rem;
      &::placeholder {
        color: $textColor;
      }
    }
    .input-group {
      > .input-group-append {
        > .btn {
          background-color: $firstColor;
          border: none;
          border-radius: 0;
          color: white;
          padding: .75rem;
          &:focus, &:hover {
            background-color: $firstColorAlt;
          }
        }
      }
    }
  }
}
.Form__collapse {
  border-bottom: 1px dotted $borderColorAlt;
  margin-bottom: 2rem;
}
.Form__collapse__header {
  @media screen and (max-width: 991px) {
    padding: .8rem 0;
  }
}
.Form__collapse__title {
  color: $secondColorAlt;
  font-size: .875rem;
  font-weight: 700;
  position: relative;
  @media screen and (max-width: 991px) {
    font-size: 1rem;
  }
  [class^="icon-"] {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
}
.Form__collapse__content {
  padding: .8rem;
  &:not(.show) {
    display: none;
  }
  &.collapsing {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height .35s ease;
  }
  .custom-control {
    @media screen and (max-width: 991px) {
      margin-bottom: .8rem;
    }
  }
}
