body {
  background-color: $bodyColor;
  color: $textColor;
  font-family: $body-font;
  font-size: 16px;
  position: relative;
}
a {
  color: $firstColorAlt;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $accentColorAlt;
    text-decoration: none;
  }
}
hr {
  background-color: $borderColor;
}
.container {
  @media screen and (min-width: 1400px) {
    max-width: 80%;
  }
}
.text-white {
  color: white;
}
.text-firstColor {
  color: $firstColor;
}
.text-secondColor {
  color: $secondColor;
}
.text-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}
.ArrowTop {
  background-color: $secondColor;
  border: none;
  border-radius: 50%;
  bottom: 15px;
  box-shadow: 1px 1px 3px rgba(black, 0.5);
  color: white;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  position: fixed;
  right: 15px;
  z-index: 9;
}
