.Header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.Header__top {
  background-color: rgba($darkColor, 0.6);
  padding: 0.5rem 0;
}
.Header__top__title {
  color: white;
  font-family: $montserrat-font;
  font-size: 0.75rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.Header__main {
  background-color: rgba($darkColor, 0.5);
  padding: 0.6rem 0;
}
.Header__logo {
  margin-bottom: 0;
}
.Header__nav {
  align-items: center;
  display: flex;
}
.Header__mainMenu {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  li {
    list-style: none;
    font-family: $centuryBold-font;
    font-size: 0.75rem;
    margin: 0 1.5rem;
    text-transform: uppercase;
    a {
      color: white;
    }
    &.current-menu-item,
    &.current_page_item {
      a {
        color: $secondColor;
      }
    }
  }
}
