.Main {
  margin: 0 0 2rem;
  padding: 0 2rem;
  @media screen and (max-width: 1400px) {
    padding: 0;
  }
}
.Main__filters {
  align-items: center;
  border-bottom: 1px solid $borderColor;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 60%;
  @media screen and (max-width: 991px) {
    border-bottom: none;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
.Main__menuFilters {
  display: flex;
  margin-bottom: .3rem;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 991px) {
    justify-content: space-between;
  }
  li {
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      font-size: 1.125rem;
      margin-right: 0;
    }
    a {
      border-radius: .5rem;
      border-top: 1px solid transparent;
      color: $textColor;
      cursor: pointer;
      display: block;
      padding: .5rem 1.5rem;
      transition: border-top-color .2s ease-out;
      @media screen and (max-width: 767px) {
        padding: .5rem;
      }
      &:focus, &:hover {
        border-top-color: $secondColor;
        color: $secondColor;
      }
    }
    &.active {
      font-weight: 700;
      a {
        border-top-color: $secondColor;
        color: $secondColor;
      }
    }
  }
}
.Main__navigationFilters {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (max-width: 991px) {
    display: none;
  }
  li {
    font-size: 2.5rem;
    list-style: none;
    a {
      color: $textColor;
      &:focus, &:hover {
        color: $secondColor;
      }
    }
  }
}
.Main__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}
.Main__footer {
  .Pagination__list {
    justify-content: center;
  }
}
