.Page__wrapper {
  border-radius: 1rem 1rem 0 0;
  margin-top: -6rem;
  padding: 2rem 3rem;
  position: relative;
  z-index: 9;
}
.Page__subtitle {
  color: $firstColor;
  font-family: $frankfurter-font;
  font-size: 0.875rem;
}
.Page__title {
  color: $headingColor;
  font-size: 2rem;
}
.Page__item__title {
  color: $headingColor;
  font-family: $frankfurter-font;
  font-size: 2.25rem;
  text-transform: uppercase;
  &__first {
    color: $firstColor;
  }
  &__second {
    color: $secondColor;
  }
}
.Page__item__caption {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  .Page__subtitle,
  .Page__item__title,
  .Page__item__text {
    width: 100%;
  }
}
.Page {
  padding: 3rem 0;
  &--alt {
    background-color: $bodyColorAlt;
    .Page__wrapper {
      background-color: $bodyColorAlt;
    }
  }
  &--full {
    padding: 0;
  }
  &--50 {
    display: flex;
    .Page__item {
      display: flex;
      padding: 5rem;
      width: 50%;
      &:first-child {
        padding-left: 5%;
      }
      &:last-child {
        background-color: $fourthColor;
        justify-content: flex-end;
        padding-right: 5%;
        .Page__item__caption {
          text-align: right;
          .Button {
            margin: 0 0 0 auto;
          }
        }
      }
    }
  }
  &--bg {
    background: $bodyColor url(./../images/bg_blog.png) 0 bottom no-repeat;
  }
}
