.Tabs {
  margin: 3rem 0;
}
.Tabs__nav {
  border-bottom: none;
  display: flex;
  justify-content: space-around;
  .nav-item {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .nav-link {
    border: none;
    color: $thirdColor;
    display: flex;
    font-size: 0.875rem;
    font-family: $frankfurter-font;
    flex-wrap: wrap;
    padding: 1rem 2.5rem;
    &.active {
      background-color: transparent;
      border: none;
      border-bottom: 3px solid $darkColorAlt;
      color: $darkColorAlt;
    }
    &:focus,
    &:hover {
      border-bottom: 3px solid $darkColorAlt;
      color: $darkColorAlt;
    }
  }
}
.Tabs__content {
  padding: 3rem 0;
  .tab-pane {
    &.active {
      display: flex;
    }
  }
}
.Tabs__content__caption,
.Tabs__content__figure {
  width: 50%;
}
.Tabs__content__caption {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  h4 {
    color: $firstColor;
    font-family: $frankfurter-font;
    font-size: 1.75rem;
    text-transform: uppercase;
    width: 100%;
  }
  p {
    font-size: 0.875rem;
    width: 100%;
  }
  ul {
    padding-left: 0.8rem;
    width: 100%;
    li {
      font-family: $centuryBold-font;
      font-size: 0.875rem;
    }
  }
}
.Tabs__content__figure {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
