// Colors:
$firstColor: #3678e5;  // azul
$firstColorAlt: #579bcb; // celeste claro
$secondColor: #fc9f26; // naranja
$secondColorAlt: #fe5a1a; // naranja contraste
$thirdColor: #777; // Marron
$thirdColorAlt: #333; // Marron contraste
$fourthColor: #fdf0df; // Rosado
$fourthColorAlt: #fafafa; // Rosado contraste
$grayColor: #f5f5f5;
$accentColor: #2352ff; // azul
$accentColorAlt: #007eff; // azul contraste
$darkColor: #222; // negro footer
$darkColorAlt: #2e2e2e; // plomo footer
$borderColor: #eee;
$borderColorAlt: #e0e0e0;
$textColor: #222;
$headingColor: #444;
$bodyColor: #fff;
$bodyColorAlt: #f8f8f8;

// Fonts:
$body-font: 'CenturyGothic', sans-serif;
// $heading-font:
$montserrat-font: 'Montserrat', sans-serif;
$centuryBold-font: 'CenturyGothic-Bold', sans-serif;
$frankfurter-font: 'Frankfurter', sans-serif;
$muli-font: 'Muli', sans-serif;
